/* SCSS declarations go here */

nav > div > span {
	padding-left: 10px;
}


#dropdown_0 {
	width: 200px;
}

.breadcrumb-link {
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
}

.breadcrumb-caret {
	margin: 0 10px;
}